<div class="shadow flex">
  <input class="w-full rounded p-2" type="text" placeholder="Search Google Boooks..." [formControl]="searchQuery" (keyup.enter)="search(searchQuery.value)">
  <button class=" w-auto flex justify-end items-center text-blue p-2 hover:text-blue-light" (click)="search(searchQuery.value)">
    <i class="material-icons">search</i>
  </button>
</div>

<div class="flex flex-wrap -mx-1 overflow-hidden mt-10">
  <div class="my-5 px-1 w-full overflow-hidden lg:w-1/2 xl:w-1/2" *ngFor="let book of books">
    <book-component [book]="book"></book-component>
  </div>
</div>
